<h1>Bem vindo ao sistema de gestão de projetos</h1>
<p>Aqui você pode:</p>
<mat-list>
  <mat-list-item>Buscar projetos</mat-list-item>
  <mat-list-item>Criar projetos</mat-list-item>
  <mat-list-item>Atualizar projetos</mat-list-item>
  <mat-list-item>Excluir projetos</mat-list-item>
  <mat-list-item>E mais!</mat-list-item>
</mat-list>

<button mat-stroked-button color="primary" routerLink="/projects">
  Começar!
</button>
<button class="btn" mat-raised-button color="primary" routerLink="/projects">
  Como funciona?
</button>
